.Header-container {
  padding: 20px;
  display: flex;
  background-color: #5085a5;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
}

.Header-left {
  display: flex;
  flex-direction: row;
}

.Header-title {
  font-size: 20px;
  margin: auto 0;
}

.Header-logo {
  display: block;
  height: 40px;
  margin: 0 20px;
}

.modal-list {
  font-size: 30px;
}

.modal-button {
  background-color: inherit;
  visibility: hidden;
}

.modal-button * {
  visibility: visible;
}
